*/target
*/test-output
*~
*/.classpath
*/.project
*/.settings
/.project
/.settings
../privacyidea-shibboleth-plugin/target
/privacyIDEA-api/target
/privacyIDEA-dist/target
/privacyIDEA-impl/target
/.idea
privacyIDEA-impl/idp-plugin-privacyIDEA-impl.iml
*.jar
