*/target
*/test-output
*~
*/.classpath
*/.project
*/.settings
/.project
/.settings
/target
/.idea
privacyIDEA-impl/idp-plugin-privacyIDEA-impl.iml
*.jar
/privacyIDEA-impl/target/
/privacyIDEA-api/target/
/privacyIDEA-dist/target/